// * {
//   border: 1px solid black;
// }

#newpoll-body {
  margin-top: 4em;
  #cont {
    width: 33em;
    #header {
      color: rgb(166,128,140);
    }
    #options-label {
      color: rgba(128,128,128, 0.5);
    }
  }  
}