* {
  // border: 1px solid black;
}

#profile-body {
  margin-top: 5em;
  #left {
    #buttons {
      margin-top: 10px;
    }
    font-size: 1.2em;
    float: left;
    width: 30%;
  }
  #right {
    .panel-heading {
      font-weight: 700;
      text-transform: uppercase;
    }
    .progress {
      margin-bottom: 0;
    }
    #poll-result {
      margin-bottom: 0.8em;
      .progress-completed {
        float: right;
        font-weight: 500;
        color: rgba(128,128,128, 0.5);
      }
      .progress-type {
        text-transform: uppercase;
        font-weight: 500;
        color: rgba(128,128,128, 0.5);
      }
    }
    float: right;
    width: 70%;
  }
}
