* {
  // border: 1px solid black;
}

#profile-body { 
  margin-top: 5em;
  #left {
    #buttons {
      margin-top: 10px;
    }
    font-size: 1.2em;
    float: left;
    width: 30%;
  }
  #right { 
    .panel-heading {
      font-weight: 700;
      text-transform: uppercase;
    }
    .progress {
      .progress-type {
        float: left;
        text-transform: uppercase;
        font-weight: 500;
        padding-left: 0.5em;
        color: rgb(255, 255, 255);
      } 
      .progress-completed {
        float: right;
        font-weight: 800;
        padding: 3px 10px 2px;
      }  
    }
    float: right;
    width: 70%;
  }
}
