<div class="container-fluid" id="footer">
  <div class='container'>
    <p>This is a side project by Jesuloba Egunjobi. This project was completed using Node.js, MongoDB, Express, HTML, EJS, SCSS, Gulp, Mongoose, Morgan and Passport. <a target="_blank" href="https://github.com/Lobarr/voter-app">Click here to view Github repo</a></p>
    <p>&copy LOBARR 2017</p>     
  </div>
</div>