<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="../public/css/newpoll.min.css" type="text/css" rel="stylesheet">
    <title>Poller</title>
  </head>
  <body>
    <%- include('nav-layout') -%>

    <section id="newpoll-body">
        <div class="container" id="cont">
            <h1 class="text-center" id="header">New Poll</h1>
            <form method="post" action="/newpoll">
                <div class="form-group">
                    <input type="text" class="form-control" name="title" placeholder="Title" required autofocus>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="options" placeholder="Options" required>
                    <label for="options" id="options-label">Seperate multiple options by spaces</label>
                </div>
                <input class="btn btn-primary btn-block" type="submit" id="submit" value="Submit">
            </form>
        </div>
    </section>


    <!-- JS files -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"> </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <!--  -->
  </body>
</html>
